<ng-container>
    <nav class="bg-white fixed w-full z-20 top-0 start-0 border-b border-gray-200">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a [routerLink]="'/'" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap">Scentist</span>
            </a>
            <div class="flex gap-2 md:order-2">
                <div class="md:flex gap-4 relative hidden">
                    <div class="relative md:block">
                        <button type="button" id="default-search"
                            class="md:w-72 w-full px-4 py-2 text-sm text-gray-500 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 flex items-center justify-between">
                            <div class="flex items-center justify-center gap-4">
                                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                </svg>
                                Search
                            </div>
                            <div>
                                Ctrl U
                            </div>
                        </button>
                    </div>
                </div>
                <div (click)="openFiltering()"
                    class="flex items-center justify-start gap-1 py-2 px-3 text-gray-500 rounded hover:bg-gray-100">
                    <span class="material-icons">help</span>
                    <span class="">Help</span>
                </div>
                <div (click)="openInfoApp()"
                    class="flex items-center justify-start gap-1 py-2 px-3 text-gray-500 rounded hover:bg-gray-100">
                    <span class="material-icons">tune</span>
                    <span class="">Setting</span>
                </div>
                <a [routerLink]="'formula'"
                    class="flex items-center justify-start gap-1 py-2 px-3 text-gray-500 rounded hover:bg-gray-100">
                    <span class="material-icons">science</span>
                    <span class="">Formula</span>
                </a>
                <button [routerLink]="'basket-formula'" type="button"
                    class="relative inline-flex items-center px-5 py-1.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <span class="material-icons">shopping_cart</span>
                    <span class="sr-only">Formula</span>
                    <ng-container *ngIf="lengthFormula">
                        <div
                            class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">
                            {{lengthFormula}}</div>
                    </ng-container>
                </button>
                <button data-collapse-toggle="navbar-search" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                    aria-controls="navbar-search" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
                <div class="grid grid-cols-1 pt-8 relative md:hidden">
                    <div class="relative md:block">
                        <button type="button" id="default-search"
                            class="md:w-72 w-full px-4 py-2 text-sm text-gray-500 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 flex items-center justify-between">
                            <div class="flex items-center justify-center gap-4">
                                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                </svg>
                                Search
                            </div>
                            <div>
                                Ctrl U
                            </div>
                        </button>
                    </div>
                    <ul
                        class="w-full font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 ">
                        <li>
                            <a [routerLink]="'/'"
                                class="flex items-center justify-start gap-1 py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent "
                                aria-current="page">
                                <span class="material-icons">home</span>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <div (click)="openFiltering()"
                                class="flex items-center justify-start gap-1 py-2 px-3 text-gray-900 rounded hover:bg-gray-100">
                                <span class="material-icons">help</span>
                                <span class="">Help</span>
                            </div>
                        </li>
                        <li>
                            <div (click)="openInfoApp()"
                                class="flex items-center justify-start gap-1 py-2 px-3 text-gray-900 rounded hover:bg-gray-100">
                                <span class="material-icons">tune</span>
                                <span class="">Setting</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <app-filtering-data [openView]="filteringData" (closeView)="closeFiltering($event)"></app-filtering-data>
    <app-info [openView]="infoApp" (closeView)="closeInfoApp($event)"></app-info>
    <app-searching-data [openView]="searchingData" (closeView)="closeSearching($event)"></app-searching-data>
</ng-container>