
<div class="my-20">
    <div class="columns-1 gap-4 space-y-4" [ngClass]="ganjil ?'md:columns-4':'md:columns-3'">
        <ng-container *ngFor="let raw of rawMaterial; let i = index">
            <div class="w-full rounded-xl shadow flex flex-col divide-y justify-between items-start gap-2 break-inside-avoid active:motion-scale-in-[0.44] active:motion-blur-in-[10px] active:motion-delay-[0.75s]/blur"
                [ngClass]="raw.height == 'small'? 'bg-emerald-100 divide-emerald-200':'bg-teal-100 divide-teal-200'" (click)="addFormula(i)">
                <div class="flex flex-col items-start w-full p-4 overflow-auto">
                    <span class="text-xs font-semibold px-2 py-0.5 border rounded-full text-center"
                        [ngClass]="raw.height == 'small'? 'border-emerald-500':'border-teal-500'">
                        {{raw.category}}
                    </span>
                    <span class="text-2xl font-semibold">
                        {{raw.ingredient}}
                    </span>
                    <span class="text-base">
                        {{raw.cas}}
                    </span>
                    <span class="text-xs pt-1">
                        {{raw.filiation}}
                    </span>
                    <span class="text-sm font-semibold pt-2">
                        Formula :
                    </span>
                    <span class="text-xs font-semibold">
                        {{raw.molecular_formula}}
                    </span>
                    <span class="text-sm font-semibold pt-2">
                        Weight :
                    </span>
                    <span class="text-xs font-semibold">
                        {{raw.molecular_weight}}
                    </span>
                    <span class="text-sm font-semibold pt-2">
                        Boiling Point :
                    </span>
                    <span class="text-xs font-semibold">
                        {{raw.boiling_point}}
                    </span>
                    <span class="text-sm font-semibold pt-2">
                        Log P :
                    </span>
                    <span class="text-xs font-semibold">
                        {{raw.logP}}
                    </span>
                    <span class="text-sm font-semibold pt-2">
                        Vapor pressure :
                    </span>
                    <span class="text-xs font-semibold">
                        {{raw.vapor_pressure}}
                    </span>
                    <span class="text-sm font-semibold pt-2">
                        Soluble :
                    </span>
                    <span class="text-xs font-semibold">
                        {{raw.soluble}}
                    </span>
                    <span class="text-sm font-semibold pt-2">
                        Insoluble :
                    </span>
                    <span class="text-xs font-semibold">
                        {{raw.insoluble}}
                    </span>
                    <span class="text-sm font-semibold pt-2">
                        Stability :
                    </span>
                    <span class="text-xs font-semibold">
                        {{raw.stability}}
                    </span>
                    <span class="text-sm font-semibold pt-2">
                        Odor strength :
                    </span>
                    <span class="text-xs font-semibold">
                        {{raw.odor_strength}}
                    </span>
                    <ng-container *ngFor="let detailRaw of raw.details; let i = index">
                        <ng-container *ngIf="detailRaw.category === 'Major Components'">
                            <span class="text-sm font-semibold pt-2">
                                Major Components :
                            </span>
                            <span class="text-xs font-semibold">
                                {{detailRaw.info}}
                            </span>
                        </ng-container>
                        <ng-container *ngIf="detailRaw.category === 'Other names'">
                            <span class="text-sm font-semibold pt-2">
                                Other names :
                            </span>
                            <span class="text-xs font-semibold">
                                {{detailRaw.info}}
                            </span>
                        </ng-container>
                        <ng-container *ngIf="detailRaw.category === 'Uses in perfumery'">
                            <span class="text-sm font-semibold pt-2">
                                Use :
                            </span>
                            <span class="text-xs font-semibold">
                                {{detailRaw.info}}
                            </span>
                        </ng-container>
                        <!-- <ng-container *ngIf="detailRaw.category === 'Molecular Weight'">
                            <span class="text-sm font-semibold pt-2">
                                Weight :
                            </span>
                            <span class="text-xs font-semibold">
                                {{detailRaw.info}}
                            </span>
                        </ng-container> -->
                        <ng-container *ngIf="detailRaw.category === 'Detection Threshold'">
                            <span class="text-sm font-semibold pt-2">
                                Detection Threshold :
                            </span>
                            <span class="text-xs font-semibold">
                                {{detailRaw.info}}
                            </span>
                        </ng-container>
                        <!-- <ng-container *ngIf="detailRaw.category === 'Log P'"> -->
                            <!-- <span class="text-sm font-semibold pt-2">
                                Log P :
                            </span>
                            <span class="text-xs font-semibold">
                                {{detailRaw.info}}
                            </span>
                        </ng-container> -->
                    </ng-container>
                </div>
                <div class="flex flex-col items-start w-full px-4 py-2">
                    <ng-container *ngFor="let detailRaw of raw.details; let i = index">
                        <ng-container *ngIf="detailRaw.category === 'Volatility'">
                            <span class="text-xs font-semibold">
                                {{detailRaw.info}}
                            </span>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</div>